body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    overflow: hidden;
}

.start-screen {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffebcd;
    text-align: center;
    font-size: 10em;
    color: rgba(0, 0, 0, 0);
    z-index: 1;
    animation: blink 0.3s;
}

.start-screen p {
    position: relative;
    top: 1em;
}

.room-create {
    margin: auto;
    position: relative;
    top: 10em;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    cursor: pointer;
}

.room-choose {
    position: relative;
    top: 20em;
    width: 30vw;
    margin: auto;
}

.room-choose ul {
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 30em;
}

.room-choose ul li{
    cursor: pointer;
}

.room-choose ul li:hover{
    background-color: #aaaaaa;
}

.room-create input, .room-create button {
    font-size: inherit;
    height: 5vh;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0;
    outline: 0;
    box-sizing: content-box;
}

.room-create input {
    width: 66%;
}

.chess-table {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    top: 2em;
    left: 10em;
    margin: auto;
    width: 94vh;
    height: 94vh;
    border: 2px solid #000000;
    justify-items: center;
}

.square {
    width: 100%;
    height: 100%;
    border: 1px solid #faebd7;
}

.white-square {
    background-color: #faebd7;
}

.brown-square {
    background-color: #d2691e;
}

.piece {
    width: 100%;
    height: 100%;
    font-size: 5.5em;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.select-piece {
    background-color: #77ff77;
    box-shadow: 0 0 100px #44aa44;
}

.check {
    background-color: #ff0000;
}

.can-capture {
    background-color: #ffcc00;
    cursor: pointer;
}

.move-alternative {
    background-color: #44aa44;
    border: 1px solid #77ff77;
    cursor: pointer;
}

/* menu section */

.menu {
    position: absolute;
    top: 2em;
    display: flex;
    flex-direction: column;
}

.menu div {
    margin-bottom: 10px;
}

.turn {
    font-family: Arial, sans-serif;
    font-size: 2em;
    border-bottom: 1px solid #000000;
    width: 6em;
}

.reset {
    width: 5em;
    height: 2em;
}

.undo {
    width: 5em;
    height: 2em;
}

.reset button, .undo button {
    width: 100%;
    height: 100%;
}

@keyframes blink {
    from {color: #b8860b}
    to {color: rgba(255, 255, 0, 0)}
}