body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.start-screen {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffebcd;
    text-align: center;
    font-size: 10em;
    color: rgba(0, 0, 0, 0);
    z-index: 1;
    animation: blink 1s;
}

.chess-table {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 3vh auto;
    width: 94vh;
    height: 94vh;
    border: 2px solid #000000;
    justify-items: center;
}

.white-square {
    background-color: #faebd7;
    width: 100%;
    height: 100%;
    border: 1px solid #faebd7;
}

.brown-square {
    background-color: #d2691e;
    width: 100%;
    height: 100%;
    border: 1px solid #d2691e;
}

.piece {
    width: 100%;
    height: 100%;
    font-size: 5.5em;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.select-piece {
    background-color: #77ff77;
    box-shadow: 0 0 100px #44aa44;
}

.check {
    background-color: #ff0000;
}

.can-capture {
    background-color: #ffcc00;
}

.move-alternative {
    background-color: #44aa44;
    border: 1px solid #77ff77;
}

@keyframes blink {
    from {color: #b8860b}
    to {color: rgba(255, 255, 0, 0)}
}